@import "primeicons/primeicons.css";

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #dcf1ff;
  background: linear-gradient(to right, blue, rgb(255, 0, 191));
}

/*  */

.p-button {
  background-color: yellow !important;
  color: black !important;
}

.col-actions-header {
  width: 120px;
}

.col-actions {
  width: 120px;
  text-align: center;
}

.col-actions .p-button {
  margin: 1px;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
    margin: 0 auto;
  }
}