.login {
  max-width: 400px;
  margin: auto;
}

.title {
  text-align: center;
}

h1 {
  color:orangered !important;
  font-family: 'Comic Sans MS', 'Comic Sans', cursive;
}

button, a, input{
  width: 100%;
}